# To change this template, choose Tools | Templates
# and open the template in the editor.

I'm=I am
isn't=is not
aren't=are not
don't=do not
won't=will not
shan't=shall not
let's=let us
we're=we are
they're=they are
I've= I have
Should've=Should have
They'd=They would
She'll=She will
Put 'em=Put them
I'd=I would
It's=It is

