root.dir=/home/nitin/Desktop/WikiIndexer
dump.filename=five_entries.xml
tknizer.nthreads=1
tmp.dir=File/index
punct.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Punctuation
apos.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Apostrophe
hyph.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Hyphen
spch.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SpecialChars
space.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.WhiteSpace
date.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.DateTimeRule
accnt.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.AccentRule
stwrds.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.StopWordRule
captl.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.CapitilizationRule
nmbrs.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.NumberRule
pretkn.rules=DATES
